.home-header {
  margin-top: 1.5rem;
  border-bottom: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
